<!DOCTYPE html>
<html>
<head>
<style>

header {
    margin-left:  20;
      background-color:  #A8ADBA
    font-family:  'Open Sans', sans-serif;
    }
    body {
        background-color: aquamarine;
        margin-left: 20;
        text-justify: auto;
        padding:  20;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px
;
    }
    
}