<div id="about">
    <div id="header" class="row d-flex h-100">
        <div id="title" class="col-4 d-flex justify-content-center align-items-center">
            About
        </div>
        <div id="list" class="col-8 d-flex justify-content-center align-items-center">

            <ul>
                <li>
                    Set Fitness Goals
                </li>
                <li>
                    Track Progress
                </li>
                <li>
                    Measure Results
                </li>
            </ul>
        </div>
    </div>
    <div id="description" class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra laoreet facilisis. Maecenas risus metus, malesuada sed est ac, faucibus finibus ligula. Maecenas imperdiet aliquam mauris, non iaculis augue faucibus id. Mauris condimentum libero nec ante auctor, sed tempor tortor finibus. Nam at pretium elit, vitae posuere metus. Donec maximus mauris placerat ex pharetra, vel tincidunt eros consectetur. Donec viverra finibus sagittis.

Mauris varius vitae massa a blandit. Curabitur nec porttitor arcu. Sed et condimentum eros. Aliquam erat volutpat. Duis rutrum commodo urna, vel placerat mauris rhoncus sed. Quisque vitae lacinia turpis. Curabitur ligula neque, molestie quis iaculis eu, convallis nec sem. Integer eget turpis non metus volutpat mollis. Sed sed auctor mi. Cras consequat ut leo nec laoreet.

Vivamus id justo suscipit, cursus velit sit amet, eleifend felis. Donec commodo odio at efficitur aliquam. Integer erat ex, blandit at laoreet blandit, tincidunt at mi. Proin ac auctor nulla. Nunc nec vehicula dolor. Nullam porttitor nulla sed augue ultricies feugiat. Phasellus fringilla quam mollis eros venenatis porttitor. Praesent mattis diam ex, a semper sem feugiat sed. Quisque blandit mollis congue. Morbi in leo ut lectus efficitur tristique id eu mi. Vivamus gravida, elit sit amet consectetur maximus, lorem tellus porta velit, nec molestie purus ligula nec nulla.

Aenean condimentum sit amet velit ullamcorper euismod. Etiam rhoncus volutpat risus, dignissim rutrum diam pellentesque ac. Ut posuere magna tincidunt nibh sollicitudin, eget vulputate diam gravida. Pellentesque viverra et diam sit amet feugiat. Fusce lobortis, lectus a eleifend ultrices, sapien justo porta lorem, ac ornare justo metus vel leo. Pellentesque nisi ante, bibendum at feugiat dignissim, tristique at ipsum. Nam auctor ut felis sagittis interdum. Aenean tempus, neque non porta volutpat, magna diam ornare felis, eu dapibus sem mauris sit amet quam. Mauris ut dui at neque dignissim ornare quis non lectus. In finibus orci at metus sollicitudin euismod vel eget lacus. Nunc bibendum justo lectus, eu pulvinar erat mollis at. Maecenas quis vulputate risus. Donec luctus dolor in tincidunt imperdiet. Morbi venenatis erat nisi, laoreet pretium lectus ullamcorper at. Maecenas posuere sem sed suscipit tincidunt. Sed ut tortor tempus, facilisis augue sit amet, bibendum justo.

Praesent gravida imperdiet sapien a consequat. Fusce condimentum finibus purus ac vestibulum. Aenean dolor felis, elementum in interdum non, scelerisque eget nibh. Sed quis volutpat nibh. Aliquam et purus convallis, cursus turpis sed, tristique erat. Mauris eget vehicula arcu. Nam convallis metus erat, non mattis mauris finibus et.
        </p>

    </div>
</div>