<div id="about">
    <div id="header" class="row d-flex h-100">
        <div id="title" class="col-xl-4 col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center">
            About
        </div>
        <div id="list" class="col-xl-8 col-lg-8 col-md-6 col-12 d-flex justify-content-center align-items-center">

            <ul>
                <li>
                    Set Fitness Goals
                </li>
                <li>
                    Track Progress
                </li>
                <li>
                    Measure Results
                </li>
            </ul>
        </div>
    </div>
    <div id="description" class="container">
       
        <p>
            Health Tracker is mobilizing the world to achieve a healthy weight.

            Health Tracker has the capability to count calories.  It is created with the goal of helping members reach a healthy weight by providing them with the tools they need for success.  You'll be able to set your goals, track your food, and lose weight.
 </li>
 <hr/>
Through the proven approach of calorie counting, Health Tracker has supported millions of members during their weight loss journeys, and continues to work towards helping millions more. With a customer-centric approach to product improvements, the Health Tracker team works to create solutions that have a profound impact on our members, quickly adapting to user feedback along the way.
 </li>

<hr/>
Many of the Health Tracker features are available for free, supporting the company’s mindset that losing weight doesn’t have to be difficult or expensive. In addition to the free product, Health Tracker also offer a Premium version that opens up advanced tracking of macronutrients, direct syncing of fitness devices and more.
 </li>
  </li>
    </div>
</div>