<!--a href="#" onclick="deleteAccount()">Delete Account</a-->
<h2>Your Information</h2>
<ul>
    <li>Firstname: {{ user.firstname }}</li>
    <li>Lastname: {{ user.lastname }}</li>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
</ul>
<script src="/javascript/accountActions.js"></script>