<form class="loginForm">
  <div>
    <label for="email-login">Email Address:</label>
    <input type="text" id="emailLogin" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="passwordLogin" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <a href="/signup">Register</a>
</form>

<script src="/javascript/login.js"></script>