<form class="goalForm">
    <h2 id="header">Save Health Goals</h2>
    <div>
        <label for="waterGoal">Daily Water Goal(oz):</label>
        <input type="text" id="waterGoal" name="water-goal" />
    </div>
    <div>
        <label for="calorieGoal">Daily Meal Calorie Goal:</label>
        <input type="text" id="calorieGoal" name="calorie-goal" />
    </div>
    <div>
        <label for="exerciseGoal">Daily Workout Calorie Goal:</label>
        <input type="text" id="exerciseGoal" name="exercise-goal" />
    </div>
    <div>
      <button type="submit" id="saveGoal">Save</button>
    </div>
</form>
<script src="javascript/savegoal.js"></script>
