<div class="container h-75 w-50">
    <div class="row d-flex align-items-center justify-content-center h-100">
<form class="signupForm w-100">
    <div class="form-group">
        <label for="firstNameSignup">First Name:</label>
        <input class="form-control" type="text" id="firstNameSignup" />
    </div>
    <div class="form-group">
        <label for="lastNameSignup">Last Name:</label>
        <input class="form-control" type="text" id="lastNameSignup" />
    </div>
    <div class="form-group">
        <label for="userNameSignup">Username:</label>
        <input class="form-control" type="text" id="userNameSignup" />
    </div>
    <div class="form-group">
        <label for="emailSignup">Email Address:</label>
        <input class="form-control" type="text" id="emailSignup" />
    </div>
    <div class="form-group">
        <label for="passwordSignup">Password:</label>
        <input class="form-control" type="password" id="passwordSignup" />
    </div>
    <div class="text-right">
        <a href="/login">Login</a>
        <button class="btn btn-success" type="submit">Signup</button>
    </div>
</form>
</div>
</div>
<script src="/javascript/login.js"></script>