<form class="signupForm">
    <div>
        <label for="firstNameSignup">First Name:</label>
        <input type="text" id="firstNameSignup" />
    </div>
    <div>
        <label for="lastNameSignup">Last Name:</label>
        <input type="text" id="lastNameSignup" />
    </div>
    <div>
        <label for="userNameSignup">Username:</label>
        <input type="text" id="userNameSignup" />
    </div>
    <div>
        <label for="emailSignup">Email Address:</label>
        <input type="text" id="emailSignup" />
    </div>
    <div>
        <label for="passwordSignup">Password:</label>
        <input type="password" id="passwordSignup" />
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>
<script src="/javascript/login.js"></script>