<form class="activityForm">
    <h2>Enter Daily Activity</h2>
    <div>
        <label for="activityDate">Date(YYYY-MM-DD):</label>
        <input type="text" id="activityDate" />
    </div>
    <div>
        <label for="waterIntake">Water Consumed(oz):</label>
        <input type="text" id="waterIntake" />
    </div>
    <div>
        <label for="calorieIntake">Food Consumed(calories):</label>
        <input type="text" id="calorieIntake" />
    </div>
    <div>
        <label for="exerciseIntake">Workout(calorie):</label>
        <input type="text" id="exerciseIntake" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<form class="dashboardForm">
    <h2>Display Activity Statistics</h2>
    <div>
        <label for="activityDate">Date(YYYY-MM-DD):</label>
        <input type="text" id="activityDate" />
    </div>
    <div>
        <button type="submit">Display</button>
    </div>
</form>
<script src="javascript/userhome.js"></script>
<script src="javascript/accountActions.js"></script>