<a href="/">Logout</a>
<a href="/">Account Information</a>
<form class="goalForm">
    <h2>Save Health Goals</h2>
    <div>
        <label for="waterGoal">Daily Water Goal(oz):</label>
        <input type="text" id="waterGoal" />
    </div>
    <div>
        <label for="calorieGoal">Daily Meal Calorie Goal:</label>
        <input type="text" id="calorieGoal" />
    </div>
    <div>
        <label for="exerciseGoal">Daily Workout Calorie Goal:</label>
        <input type="text" id="exerciseGoal" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<form class="activityForm">
    <h2>Enter Daily Activity</h2>
    <div>
        <label for="activityDate">Date(YYYY-MM-DD):</label>
        <input type="text" id="activityDate" />
    </div>
    <div>
        <label for="waterIntake">Water Consumed(oz):</label>
        <input type="text" id="waterIntake" />
    </div>
    <div>
        <label for="calorieIntake">Food Consumed(calories):</label>
        <input type="text" id="calorieIntake" />
    </div>
    <div>
        <label for="exerciseIntake">Workout(calorie):</label>
        <input type="text" id="exerciseIntake" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<form class="dashboardForm">
    <h2>Display Activity Rings</h2>
    <div>
        <label for="activityDate">Date(YYYY-MM-DD):</label>
        <input type="text" id="activityDate" />
    </div>
    <div>
        <button type="submit">Display</button>
    </div>
</form>
<script src="/javascript/userhome.js"></script>