<div id="tracksuccess" class="d-none justify-content-center align-items-center"
    style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 20000;">
    <i class="fa fa-check" aria-hidden="true" style="color: #28a745; font-size: 4rem;">

    </i>
</div>

<div class="container h-75 w-50">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <form class="activityForm w-100">
            <h2>Enter Daily Activity</h2>
            <div class="form-group d-flex justify-content-between">
                <label class="w-25" for="waterIntake">Water Consumed(oz):</label>
                <div class="d-flex w-75">
                    <input class="form-control h-100 w-25 ml-1 mr-1" type="text" id="waterIntake" name="oz-intake"
                        style="display: inline-block; height: 100%;" />
                    <input class="form-control h-100 w-50 ml-1 mr-1" type="date" id="waterIntakeDate"
                        name="oz-intake-date" />
                    <button id="oz_intake" class="btn btn-success w-25" type="submit">Track</button>
                </div>

            </div>
            <div class="form-group d-flex justify-content-between">
                <label class="w-25" for="calorieIntake">Food Consumed(calories):</label>
                <div class="d-flex w-75">
                    <input class="form-control h-100 w-25 m1-1 mr-1" type="text" id="calorieIntake"
                        name="calorie-intake" style="display: inline-block; height: 100%;" />
                    <input class="form-control h-100 w-50 m1-1 mr-1" type="date" id="calorieIntakeDate"
                        name="calorie-intake-date" />
                    <button id="calorie_intake" class="btn btn-success w-25" type="submit">Track</button>
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label class"w-25" for="exerciseIntake">Workout(calorie):</label>
                <div class="d-flex w-75">
                    <input class="form-control h-100 w-25 m1-1 mr-1" type="text" id="exerciseIntake"
                        name="calorie-outake" style="display: inline-block; height: 100%;" />
                    <input class="form-control h-100 w-50 m1-1 mr-1" type="date" id="exerciseIntakeDate"
                        name="calorie-outake-date" />
                    <button id="calorie_outake" class="btn btn-success w-25" type="submit">Track</button>
                </div>
            </div>
        </form>
        <form class="dashboardForm w-100">
            <h2>Display Activity Statistics</h2>
            <div class="form-group">
                <input class="form-control" type="date" id="activityDate" name="activity-date" />
            </div>
            <div class="text-right">
                <button id="displayActivities" class="btn btn-success" type="submit">Display</button>
            </div>
        </form>

    </div>

</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-6 mb-3">
            <div id="oz_intake_chart"></div>
        </div>
        <div class="col-6 mb-3">
            <div id="calorie_intake_chart"></div>
        </div>
        <div class="col-6 mb-3">
            <div id="calorie_outake_chart"></div>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="javascript/activityActions.js"></script>
<script src="javascript/userhome.js"></script>
<script src="javascript/accountActions.js"></script>